# Machine Learning

*Лектор: Екатерина Лобачева*

*Факультет экономических наук НИУ ВШЭ, 2017-18 учебный год*

[Страница курса](http://wiki.cs.hse.ru/Машинное_обучение_(факультет_экономических_наук%29)

## Домашнее задание №1
Задание основано на материалах курса [Data analysis (Software Engineering)](http://wiki.cs.hse.ru/Data_analysis_(Software_Engineering%29) (ФКН НИУ ВШЭ).

Вам необходимо анализировать набор данных [adult.data](http://archive.ics.uci.edu/ml/datasets/Adult) (источник: UCI Machine Learning Repository) с помощью Python, pandas, numpy, scipy.

Чтобы выполнить работу, скачайте настоящий ipynb-файл, откройте его в *Jupyter Notebook*, впишите решения в оставленные для этого ячейки (при необходимости можно добавлять новые ячейки), приводя полный работающий код, а также все необходимые пояснения и ответы (для этого нужно использовать markdown-ячейки). Вы можете вставлять формулы с помощью TeX-разметки в markdown-ячейки. После выполнения работы необходимо вытащить ipynb-файл из Jupyter (например, с помощью *File → Download as… → IPython Notebook*).

**Подсказка.** Файл [adult.data](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data) является CSV-файлом, но в нём отсутствуют имена переменных — они (вместе с описаниями) приводятся в отдельном файле [adult.names](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names). При загрузке датафрейма с помощью `pd.read_csv` используйте параметры `header=None` (чтобы первая строка не воспринималась как строка с именами переменных) и `names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"]`. Чтобы убрать лишние пробелы после запятых, которые есть в файле, следует добавить опцию `skipinitialspace=True`.

### Вопрос 1
Сколько мужчин и женщин в выборке?

In [3]:
import pandas as pd
file_data = pd.read_csv('adult.data', names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True, header=None)
file_data['sex'].count()

32561

### Вопрос 2
Каков средний возраст мужчин?

In [4]:
file_data.groupby([file_data['sex'] == 'Male'])['age'].mean()

sex
False    36.858230
True     39.433547
Name: age, dtype: float64

In [5]:
file_data.groupby([file_data['sex'] == 'Male'])['age'].mean().values[1]

39.43354749885268

### Вопрос 3
Какова доля граждан США?

In [6]:
file_data['native-country'].str.contains('United-States').sum()

29170

### Вопрос 4
Нарисовать распределение уровня образования в виде столбчатой диаграммы (bar plot).

In [7]:
df = pd.DataFrame(file_data)

In [8]:
df[['sex','education-num']]

          sex  education-num
0        Male             13
1        Male             13
2        Male              9
3        Male              7
4      Female             13
...       ...            ...
32556  Female             12
32557    Male              9
32558  Female              9
32559    Male              9
32560  Female              9

[32561 rows x 2 columns]

In [ ]:
df.plot.bar(x='sex', y = 'education-num', rot = 0)

### Вопрос 5
Найти среднее и стандартное отклонение переменной "final weight" (fnlwgt) для разведённых людей?

In [11]:
file_data.groupby([file_data['marital-status'] == 'Divorced'])['fnlwgt'].mean().values[1]

185802.79045689848

In [14]:
file_data.groupby([file_data['marital-status'] == 'Divorced'])['fnlwgt'].std().values[1]

105646.78945933616

### Вопрос 6
Правда ли, что люди, зарабатывающие более 50 тыс. в основном имеют высшее образование?

In [25]:
fd = file_data[file_data['50K'] == '>50K']

In [24]:
file_data[file_data['50K'] == '>50K']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
fd_true = fd['education'].str.contains('Bachelors|HS-grad|Assoc-acdm|Assoc-voc|Masters|Doctorate', regex = True) == True

In [40]:
fd_true.sum()

5787

In [37]:
fd_false = fd['education'].str.contains('Bachelors|HS-grad|Assoc-acdm|Assoc-voc|Masters|Doctorate', regex = True)==False

In [38]:
fd_false.sum()

2054

In [45]:
if fd_true.sum() > fd_false.sum() :
    print('True') 
else:
    print('False')

True

### Вопрос 7
Каков максимальный возраст мужчин и женщин каждой расы?

In [47]:
file_data.groupby([file_data['race'] == 'White'])['age'].max().values[1]

90

In [48]:
file_data.groupby([file_data['race'] == 'Asian-Pac-Islander'])['age'].max().values[1]

90

In [49]:
file_data.groupby([file_data['race'] == 'Amer-Indian-Eskimo'])['age'].max().values[1]

82

In [50]:
file_data.groupby([file_data['race'] == 'Other'])['age'].max().values[1]

77

In [51]:
file_data.groupby([file_data['race'] == 'Black'])['age'].max().values[1]

90

### Вопрос 8
Люди из каких стран работают как фермеры/рыбаки?

In [53]:
p_job =file_data[file_data['occupation'] == 'Farming-fishing']

In [59]:
p_job.drop_duplicates(subset = ['native-country'])

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
255,42,Self-emp-not-inc,303044,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
500,23,Local-gov,324960,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,Poland,<=50K
771,37,Private,327323,5th-6th,3,Separated,Farming-fishing,Not-in-family,White,Male,0,0,32,Guatemala,<=50K
861,43,Private,191547,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,<=50K
2353,33,Private,176711,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,England,<=50K
3532,34,Private,127651,10th,6,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,44,?,<=50K
6006,33,Private,93206,5th-6th,3,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
6559,32,Self-emp-not-inc,190290,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Italy,<=50K
8551,35,Self-emp-not-inc,102471,HS-grad,9,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,80,Puerto-Rico,<=50K
11271,70,Private,235781,Some-college,10,Divorced,Farming-fishing,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
12621,62,Private,197286,12th,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,48,Germany,<=50K
15177,44,Self-emp-not-inc,156687,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,42,Japan,<=50K
16486,51,Private,282744,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Canada,<=50K
20549,35,Private,81280,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,Yugoslavia,>50K
21145,43,Self-emp-not-inc,343061,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,4508,0,40,Cuba,<=50K
22391,38,Private,331395,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,3942,0,84,Portugal,<=50K
25761,20,Private,472789,1st-4th,2,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,30,El-Salvador,<=50K
25943,19,Private,277695,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,36,Hong,<=50K
28654,31,Private,63437,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,Ireland,<=50K
29466,64,Private,59829,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,25,France,<=50K

### Вопрос 9
Рассмотрим два отношения 1) количество мужчин-бакалавров к количеству мужчин-магистров и 2) количество женщин-бакалавров к количеству женщин-магистров. Какое отношение больше?

In [62]:
bach = file_data[file_data['education'] == 'Bachelors']

In [90]:
bach_man = bach[bach['sex'] == 'Male'].count()

In [91]:
bach_man_count = bach_man['sex'].sum()

In [92]:
mast = file_data[file_data['education'] == 'Masters']

In [93]:
mast_man = mast[mast['sex'] == 'Male'].count()

In [94]:
mast_man_count = mast_man['sex'].sum()

In [96]:
rel_man = bach_man_count/mast_man_count

In [97]:
bach_woman = bach[bach['sex'] == 'Female'].count()

In [98]:
bach_woman_count = bach_woman['sex'].sum()

In [99]:
mast_woman = mast[mast['sex'] == 'Female'].count()

In [100]:
mast_woman_count = mast_woman['sex'].sum()

In [101]:
rel_woman = bach_woman_count/mast_woman_count

In [102]:
if rel_man > rel_woman :
    print('Man') 
else:
    print('Woman')

Man

### Вопрос 10
Каково максимальное количество рабочих часов в неделю? Как много людей работают столько часов в неделю? Каков их заработок?

In [104]:
max_hours = file_data['hours-per-week'].max()

In [108]:
count_people = file_data[file_data['hours-per-week'] == max_hours].count()

In [111]:
count_people_h = count_people['sex']

85

In [115]:
file_data.groupby([file_data['hours-per-week'] == max_hours])['50K'].count().values[1]

85